body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffddeb;
}

.navbar ul {
  background-color: #fbc3df;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.main-menu > li {
  display: inline-block;
  position: relative;
}

.navbar a {
  display: block;
  margin: 16px;
  color: #333;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #080808;
  color: #ffffff;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 160px;
  left: 0;
  background-color: #fbc3df;
  z-index: 1;
}

.sub-menu li {
  display: block;
  background-color: #ffddeb;
}

.dropdown:hover .sub-menu {
  display: block;
}
